<div class="post-share">
	<ul class="post-shareul clearfix">
		<li class="post-shareli">
			<a href="https://note.youdao.com/memory/?url={{ SITEURL }}/{{ tag.url }}&title=About" class="post-sharea ydshare" target="_blank" rel="nofollow">有道云笔记</a>
		</li>
		<li class="post-shareli">
			<a href="https://service.weibo.com/share/share.php?searchPic=true&style=simple&url=https://typecodes.com/about&title=About&source=https://typecodes.com/" class="post-sharea wbshare" target="_blank" rel="nofollow">新浪微博</a>
		</li>
		<li class="post-shareli">
			<a href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=https://typecodes.com/about&title=About&content='utf-8'" class="post-sharea qzoneshare" target="_blank" rel="nofollow">QZone</a>
		</li>
	</ul>
</div>
								
